@import "tailwindcss";
@import "tw-animate-css";

body {
    background-color: black;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
#root{
  height: 100%;
  width: 100%;
  overflow: hidden;
}