.chat-page {
  height: 100vh;
  width: 100vw;
  background: argb(0, 0, 0, 0);
  z-index: 1;
}

.chat-page-root{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

.chat-page-root:first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.chat-page {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;

  pointer-events: none;
}

.darkveil-wrapper {
  position: absolute;
  inset: 0;
  z-index: 0;

  opacity: 0;
  animation: fadeInBg 1.5s ease-out forwards;
}

@keyframes fadeInBg {
  to {
    opacity: 1;
  }
}
